* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    display: grid;
    grid-template: 70px 1fr 70px / 1fr;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 90rem;
    width: 90%;
    margin: 8px auto;
}

header ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: black;
}

.cv {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    margin: 2rem auto;
    max-width: 90rem;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cartas img {
    height: 300px;
    width: 350px;
}