@import "./css/header.css";
@import "./css/sobre_mi.css";
@import "./css/tecnologias_usadas.css";
@import "./css/proyectos.css";
@import "./css/contactame.css";
@import "./css/footer.css";

:root {
    --fuente_principal: "Roboto", sans-serif;
    --color_texto_principal: aliceblue;
    --color_texto_oscuro: rgb(0, 0, 0);
    --color_fondo_claro: rgba(246, 246, 246, 0.963);
    --color_primario: rgb(71, 95, 161);
    --color_secundario: rgb(205, 126, 227);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color_texto_principal);
    font-family: var(--fuente_principal);
}

/*Responsive*/
@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}
