.header {
    display: flex;
    max-width: 80rem;
    width: 93%;
    height: 4rem;
    padding: 1.5rem;
    margin: 1.5rem auto;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.imagen img {
    height: 35px;
}

.lista_elementos {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.lista_elementos li a {
    text-decoration: none;
    text-transform: uppercase;

}

.lista_elementos li {
    position: relative;
    top: 0
}

.lista_elementos li ul {
    display: none;
    list-style: none;
    background-color: rgb(0, 0, 0);
    top: 100%;
    padding: 14px 3rem 14px 1.2rem;
    position: absolute;
    top: 100%;
    gap: 5px;
}

.lista_elementos li ul li a {
    text-transform: capitalize;
    color: white;
}

.lista_elementos li:hover ul {
    display: flex;
    flex-direction: column;
    color: green;
}

.iconos {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    font-size: 1.2rem;
    overflow: visible;
}

