.header {
    display: flex;
    max-width: 90rem;
    width: 93%;
    height: 8rem;
    padding: 1.5rem;
    margin: 0 auto;
    gap: 1rem;
    justify-content: space-between;
}

.imagen img {
    height: 40px;
}

.lista_elementos {
    display: flex;
    list-style: none;
    
}

.lista_elementos .iconos{
    display: flex;

}