* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}   

h1 {
    font-size: 2rem;
    color: #333;
}
.nav_links li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
.nav_links li a:hover {
    color: #a05fdc;
}

#proyectos {
    align-items: center;
    padding: 1.5rem 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

#proyectos ul li{
    list-style: none;
    padding: 1rem 0 .2rem 0;
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(98, 90, 90);
}

p {
    font-style: italic;
    color: rgb(124, 112, 112);
    margin-bottom: 1rem;
}

#proyectos p a {
    text-decoration: none;
    color: #a05fdc;
    font-weight: 600;
}