p {
    color: brown ;
    font-family: 'Arial Narrow Bold';
    font-size: 17.5px;
    font-weight: 400;
    font-style: italic;
    text-align: justify ;
    letter-spacing: 1px; 
    text-transform: none;
    text-shadow: 2px 1px 4px blac;
}
span{
    text-decoration:line-through;
    color: green
}
h1 {
    text-align: center;
}